project_id           = "ai-security-test-473701"
project_name         = "ai-security-test"
region               = "asia-northeast3"
org_id               = "sds-corp"
policy_server_image  = "gcr.io/ai-security-test-473701/boan-policy-server:latest"
admin_api_image      = "gcr.io/ai-security-test-473701/boan-proxy:latest"
enable_firebase_hosting = false
oauth_client_id      = ""
oauth_client_secret  = ""
oauth_redirect_url   = ""
app_base_url         = ""
allowed_email_domains = "samsung.com,samsungsds.com"
owner_email         = "genaisec.ssc@samsung.com"
jwt_secret           = ""
gcp_org_id           = ""
admin_emails         = ""
allowed_sso          = "google,email_otp"
